html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Calibri;
  font-size: 20px;
}
#map {
  position: fixed;
  height: 92%;
  width: 80%;
  left: 20%;
  top: 8%;
  padding-top: 0;
  z-index: 0;

}
.avatar{
  float: left;
  width: 100%;
  height: 250px;
}
.left_colomn{
  overflow: auto;
  width: 20%;
  position: absolute;
  top: 8%;
  bottom: 0;
}
form{
  vertical-align: middle;
  margin-top: 20%;
  margin:0 auto;
  max-width:50%;

  box-sizing:border-box;
  padding:40px;
  border-radius:5px;
  background:RGBA(255,255,255,1);
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
}
h1{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: royalblue;
  font-size: 50px;

}
.top_picture{
  position: fixed;
  height: 8%;
  width: 100%;
  top: 0%;
  z-index: 100;

}
/* Стили полей ввода */
.textbox{
  height:45px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  padding:10px;
  margin-bottom: auto;
}
.message:focus,
.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}
.textbox_date{
  height:45px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  padding:10px;
  margin-bottom: auto;
}
/* Стили текстового поля */
.message{
    background: rgba(255, 255, 255, 0.4);
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display:block;
    padding:10px;
    margin-bottom:30px;
    overflow:hidden;
}
/* Базовые стили кнопки */
.button{
  height:45px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  background:#90c843;
  color:#FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size: 16pt;
  transition:background .4s;
  cursor:pointer;
}
/* Изменение фона кнопки при наведении */
.button:hover{
  background:#80b438;
}
td{
    width: 24%; /* Ширина ячейки */
}
.primary_link{
  z-index: 100501;
  font-size: 16pt;
}
