<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Reg</title>
    <link href="{{url_for('static', filename = 'Style.css')}}" rel="stylesheet" media="all"/>
    <script src="{{url_for('static', filename = 'Client.js')}}"></script>

  </head>
  <body>
    <br><br><br>
    <p class = 'primary_link'><a href="{{url_for('vhod')}}">Log in</a></p>
    <img class="top_picture" src="{{url_for('static', filename='top2.jpg')}}">
    <br><br><br>

    <form method="post">
      <h1>Sign up</h1>
      {{form.name.label }}
      <br>
       {{form.name(class='textbox')}}
        <br>
      {{form.surname.label }}
      <br>
       {{form.surname(class='textbox')}}
      <br>
      <table border="0">

          <tr>
            <td></td>
            <td>{{form.bday.label }}</td>
            <td>{{form.bmonth.label }}</td>
            <td>{{form.byear.label }}</td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td>{{form.bday(class='textbox_date')}}</td>
            <td>{{form.bmonth(class='textbox_date')}}</td>
            <td>{{form.byear(class='textbox_date')}}</td>
          </tr>
      </table>
      <br>
      {{form.login.label }}
      <br>
       {{form.login(class='textbox')}}
      <br>
      {{form.password.label}}
      <br>
      {{form.password(class='textbox')}}
      <br>
      {{form.password2.label}}
      <br>
      {{form.password2(class='textbox')}}
      <br><br>
      {{form.submit(class='button')}}
      <br>
      {{ form.csrf_token }}
    </form>

    <br>
  </body>
</html>
