<html>
  <head>
    <meta charset="utf-8">
    <link href="{{url_for('static', filename = 'stale.css')}}"  rel="stylesheet" media="all"/>
    <title="Book"/>
  </head>
  <body>
    <h1 class="titles">{{book[i]["name"]}}</h1>
    <p>
      <img class="pic" src="{{url_for('static', filename = 'forB{}.jpg'.format(i))}}" alt="Обложка"/>
      Author: {{book[i]["author"]}}
      <br>
      Date of publication: {{book[i]["date"]}}
      <br>
      Number of pages: {{book[i]["size"]}}
      <br>
      Edition: {{book[i]["edition"]}}
    </p>
    
    {%if i+1 < book|length%}
    <p class = "link_next">
      <a href="{{url_for('one_book', index = i+1)}}">next book >></a>
    </p>
    {%endif%}
    {%if i != 0%}
    <p class = "link_previous">
      <a href="{{url_for('one_book', index = i-1)}}">&lt&lt previous book </a>
    </p>
    {%endif%}
    <p class = "link_home">
      <a href="{{url_for('home')}}">
        Home page</a>
    </p>
  </body>
</html>
