<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>list followers</title>
    <link href="{{url_for('static', filename = 'Style.css')}}" rel="stylesheet" media="all"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'Client.js')}}"></script>
  </head>
  <body>
    <br><br><br>
    <img class="top_picture" src="{{url_for('static', filename='top2.jpg')}}">
    <br><br><br>
    <h4>Find {{title}}</h4>
    <p><input type='text' id='name' class="searchbox">
      <button id="find" class="okey">find</button></p>

    <div class="for_list">
    <ul  id="results">
    {%for i in range(0, friends|length)%}
    <a  class="name_link" href="{{url_for('index', id = friends[i][0][0])}}">
      <li>
        {%if can%}
        <form method="post" action={{"{0}?id={1}".format(request.url,friends[i][0][0])}}>
          <button><img  src="{{url_for('static', filename = 'clear.jpg')}}"></button>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {%endif%}
        <span class="crop">
        {%if friends[i][0][3]%}
          <img  style="vertical-align: middle;" src = "{{url_for('static', filename = friends[i][0][3])}}">
        {%else%}
          <img  style="vertical-align: middle;" src="{{url_for('static', filename = 'default-avatar.jpg')}}">
        {%endif%}
      </span>
        <h2>{{friends[i][0][1]}}
      {{friends[i][0][2]}}</h2>
    </li></a>
    {%endfor%}
  </ul>
</div>

  </body>
</html>
