<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Reg</title>
    <link href="{{url_for('static', filename = 'Style.css')}}" rel="stylesheet" media="all"/>
    <script src="{{url_for('static', filename = 'Client.js')}}"></script>

  </head>
  <body>
    <br><br><br>
    <p class = 'primary_link'><a href="{{url_for('vhod')}}">Log in</a></p>
    <img class="top_picture" src="{{url_for('static', filename='top2.jpg')}}">

    <form method="post" class="forma">
      <h1>Sign up</h1>
      <table border="0" width="100%">
        <tr>
          <td colspan="2">{{form.name.label }}</td>
            {%if form.name.errors%}
              <td colspan="2"><div class="f_error">{{form.name.errors[0]}}</div></td>
            {%endif%}
        </tr>
        <tr>
          <td colspan="4">{{form.name(class='textbox')}}</td>
        </tr>
        <tr>
          <td colspan="2">{{form.surname.label }}</td>
          {%if form.surname.errors%}
            <td colspan="2"><div class="f_error">{{form.surname.errors[0]}}</div></td>
          {%endif%}
        </tr>
        <tr>
          <td colspan="4">{{form.surname(class='textbox')}}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{form.bday.label }}</td>
          <td>{{form.bmonth.label }}</td>
          <td>{{form.byear.label }}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>{{form.bday(class='textbox')}}</td>
          <td>{{form.bmonth(class='textbox')}}</td>
          <td>{{form.byear(class='textbox')}}</td>
        </tr>
        <tr>
          <td colspan="2">{{form.login.label }}</td>
        {%if form.login.errors%}
          <td colspan="2"><div class="f_error">{{form.login.errors[0]}}</div></td>
        {%endif%}
        </tr>
        <tr>
          <td colspan="4">{{form.login(class='textbox')}}</td>
        </tr>
        <tr>
          <td colspan="2">{{form.password.label }}</td>
        {%if form.password.errors%}
          <td colspan="2"><div class="f_error">{{form.password.errors[0]}}</div></td>
        {%endif%}
        </tr>
        <tr>
          <td colspan="4">{{form.password(class='textbox')}}</td>
        </tr>
        <tr>
          <td colspan="2">{{form.password2.label }}</td>
        {%if form.password2.errors%}
          <td colspan="2"><div class="f_error">{{form.password2.errors[0]}}</div></td>
        {%endif%}
        </tr>
        <tr>
          <td colspan="4">{{form.password2(class='textbox')}}</td>
        </tr>
        <tr><br></tr>
        <tr><td colspan="4">{{form.submit(class='button')}}</td></tr>
      </table>
      {{ form.csrf_token }}
    </form>

    <br>
  </body>
</html>
