<html>
  <head>
    <meta charset="utf-8">
    <link href="{{url_for('static', filename = 'stale.css')}}"  rel="stylesheet" media="all"/>
    <title="Home page"/>

  </head>
  <body>

    {%if session['id']: %}
    <h6 class="text_right">
      {{session['name']}} {{session['surname']}} &nbsp
      {%if session['admin']%}
        <a href="{{url_for('users')}}">Users</a>&nbsp
      {%endif%}
      <a href="{{url_for('log_in')}}">Log out</a>
    </h6>
    {%else%}
    <h6 class="text_right"><a href="{{url_for('log_in')}}">Log in</a><h6>
    {%endif%}
    <hr>
    <h1 class="titles">World of Books</h1>
    <p >
      <img class="pic" src="{{url_for('static', filename = 'pic1.jpg')}}" alt="Книга"/>
      Это сайт для людей, которые любят читать.
      Здесь вы найдете основную информацию о некоторых
      очень интересных книгах. <br>Русский писатель Максим Горький советовал:
      «Любите книгу — источник знания, только знание спасительно, только оно
      может сделать вас духовно сильными, честными, разумными людьми, которые
      способны искренне любить человека, уважать его труд и сердечно
     любоваться плодами его непрерывного великого труда». В том же духе
     говорил о роли книги и советский писатель П. А. Павленко: «Книга —
     коллективный опыт. Тот, кто прочел два десятка великих книг, прожил два
     десятка великих жизней». <br>Выступая 14 марта 2014 года на праздновании
      Дня православной книги, Патриарх Московский и всея Руси Кирилл следующим
      образом высказался о роли книги в современном обществе: «Сегодня мы так
      часто пользуемся книгой, что даже не обращаем внимания на то, что держим
      в руках уникальный памятник человеческой культуры. Ведь благодаря книге
      знания передаются не только горизонтально, от одного человека к
      другому, но и вертикально — из прошлого в настоящее, из настоящего в
       будущее. В книгах сосредоточена мудрость человечества»
       <br>
      <a href="{{url_for('List')}}">
        <img class="icon" src="{{url_for('static', filename = 'list1.jpg')}}" alt="Перейти к списку книг"/>
        Список книг
      </a>
    </p>
  </body>
</html>
